{% extends 'hospital/homebase.html' %}
{% load static %}


{% block content %}


<head>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
      background-image: url('{% static "images/home_bg.jpg" %}');
      background-size: cover;
      background-repeat: no-repeat;
    }

    .jumbotron h5,
    h3 {
      text-align: center;
    }


    .alert {
      margin: 0px;
    }

  </style>
</head>
<br>

<div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
  <p>
    <br><br><br><br>
    <h3>Patient Tracker System</h3>
    <br>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/patientclick" role="button">Book an Appointment</a>
  </p>
  <br><br><br><br><br><br><br><br>
</div>

<br><br>
{% include "hospital/admin_doctor_patient_card.html" %}
<br><br>


{% endblock content %}
